{
  "presets": ["react-native"],
  "plugins": [
    ["module-resolver", {
      "alias": {
        "components": "./src/components",
        "modules": "./src/modules",
        "styles": "./src/styles"
      }
    }]
  ]
}
